*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	padding-left: 3%;
	padding-right: 3%;
}


.subscribe{
	color: #808080;
	margin-left: -30px;
}

.judul{
	text-align:center; 
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	color: black;
	line-height: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	margin: 30px 0;
	color: #808080;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: -30px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.navbar h1{
	margin-left: 30%;
}


.cari{
	width: 30px;
	cursor: pointer;
	margin-left: 27%; 
	margin-right: 3px;
	color: #808080;
}

.btn{
	color: #808080;
	border: 1px solid #808080;
	background-color: transparent;
	border-radius: 6px;
	display: flex;
	padding: 7px 7px;
}

.jumbotron{
	background-color: #343a40;
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 700px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

